@font-face {
    font-family: OpenSans-bold;
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,800');
}

@font-face {
    font-family: OpenSans-regular;
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');
}

* {
    margin: 0;
    padding: 0;
}


html {
  font-size: 62.5%;
}


body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-width: 320px;
}

a { 
    cursor: pointer;
}

.container {
    box-sizing: border-box;
}

.icon {
    fill: #fff;
}

.icon:hover{
    cursor: pointer;
}

.container {
    box-sizing: border-box;
}

.headline {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .03em;
    text-align: left;
}

.be-recruited,
.play-college-sports {
    display: block;
}

.button {
    background-color: #5e42b0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.button_text,
.button_store {
    display: block;

}

.button_store {
    font-weight: bold;

}

.header {
    background-color: #0a0e34;
    position: relative;
    z-index: 0;
}

.header:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #0a0e34;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.header_logo, .footer_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_buttons, .footer_buttons {
    display: flex;
    justify-content: center;
}

.info {
    position: relative;
}

.section-container {
    box-sizing: border-box;
}

.section-main-title {
    color: #e7e7e7;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title {
    position: relative;
    left: 0;
    top: 0;
}

.section-number {
    line-height: 1.3;
    font-weight: bold;
    color: #000000;
    float: left;
    margin-right: 12px;
}

.section-number:after {
    content: "";
    width: 100%;
    background-color: #5e42b0;
    display: block;
    margin-top: 2px;
}

.section-medium .section-number:after,
.section-violet .section-number:after {
    background-color: #fff;
}

.section-violet,
.section-black {
    color: #fff;
}

.section-black .section-number {
    color: #9173e6;
}

.section-title .title {
    margin-top: 0;
    color: #c1c1c1;
    text-transform: uppercase;
    line-height: 1.3em;
}

.section-gray {
    background-color: #f5f4f9;
}

.section-violet {
    background-color: #5e42b0;
}

.section-black {
    background-color: #0a0e34;
}

.athletes-picture {
    display: block;
    background-repeat: no-repeat;
}


.players-picture {
    display: block;
    background-repeat: no-repeat;
}


.be-active-number {
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #5e42b0;
}

.be-active-number .number {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.be-active-number .number:after {
    content: "";
    width: 100%;
    position: absolute;
    background-color: #9173e6;
    bottom: 0;
    left: 0;
}

.be-active-picture {
    max-width: 100%;
}

.be-active-picture .picture-src {
    max-width: 100%;
    display: block;
}

.be-active-title {
    text-transform: uppercase;
    color: #e7e7e7;
    line-height: 1.2;
}

.be-active-title .title {
    margin-top: 0;
}

.be-active-content {
    line-height: 1.25;
    box-sizing: border-box;
}

.footer {
    background-color: #0a0e34;
    position: relative;
    color: #ffffff;
    z-index: -1;
}

.footer:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.footer_container {
    position: relative;
}

.download-logo {
    background: linear-gradient(to right, #50329c, #7751db);
    display: flex;
}

.download-logo .icon {
    margin: auto;
}

.footer_slogan {
    text-transform: uppercase;
}

.footer_slogan .download-app {
    font-weight: bold;
    display: block;
    letter-spacing: 0.04em;
}

.footer_slogan .show {
    color: #9b8ec1;
}

.getdown {
    margin-top: 0;
}

.getdown:last-child {
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .header_logo, .footer_logo {
        width: 136px;
    }

    .header_logo .icon, .footer_logo .icon {
        height: 36px;
    }

    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .headline {
        font-size: 2.9rem;
        margin-bottom: 8.4rem;
    }

    .play-college-sports {
        margin-top: 1.3rem;
        margin-left: 4rem;
        line-height: 1.3;
    }

    .button {
        width: 100%;
        padding-top: .5rem;
        padding-bottom: .6rem;
        justify-content: center;
        border-radius: 1.8rem;
        font-size: .8rem;
    }


    .button_google {
        margin-top: 1.5rem;
    }
    
    .button .icon {
        height: 2.5rem;
        margin-right: .6rem;
    }

    .header {
        padding-top: 3.3rem;
        padding-bottom: 8.4rem; 
        background-image: url(https://pp.userapi.com/c850120/v850120144/caf0b/nLjF_BWkNQk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header_logo {
        margin-bottom: 12.6rem;
    }

    .header_buttons, .footer_buttons {
        flex-wrap: wrap;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .section-main-title {
        font-size: 5rem;
    }

    .info {
        padding-top: 1.5rem;
    }

    .section-heading {
        margin-bottom: -3rem;
        overflow-x: hidden;
    }

    .section {
        padding-top: 5rem;
        padding-bottom: 5rem;
        font-size: 1.5rem;
        line-height: 1.2;
        letter-spacing: 0.03rem;
    }

    .section-title {
        font-size: 2.3rem;
    }

    .section-title .title{
        margin-bottom: 2rem;

    }

    .section-number {
        font-size: 1.4rem;
        padding-top: 5px;
        
    }

    .section-number:after {
        height: .4rem;
        border-radius: .4rem;
    }

    .athletes-heading-container {
        display: flex;
        flex-direction: column;
    }

    .athletes-heading-container .section-main-title {
        order: -1;
    }

    .athletes-picture {
        width: 192px;
        height: 281px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
        margin-top: 0.6rem;
    }

    .players-heading-container {
        display: flex;
        flex-direction: column;
    }

    .players-heading-container .section-main-title {
        order: -1;
    }

    .players-picture {
        width: 302px;
        height: 248px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4.4rem;
        margin-top: 0.5rem;
    }

    .be-active-title {
        font-size: 2.8rem;
    }

    .be-active-title .title {
        margin-bottom: 2.2rem;
    }

    .be-active-content {
        font-size: 1.6rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 21.2rem;
    }

    .be-active-number {
        width: 7rem;
        height: 7rem;

    }

    .be-active-number .number {
        font-size: 1.4rem;
        line-height: 2.2;
    }

    .be-active-number .number:after {
        height: 0.4rem;
        border-radius: 0.4rem;
    }

    .be-active-number {
        top: 0;
        margin-top: -9rem;
    }

    .footer {
        padding-top: 9.7rem;
        padding-bottom: .6rem;
    }

    .footer:before{
        background-image: url("https://pp.userapi.com/c850120/v850120786/cb72d/dDYsj5D03wU.jpg");
    }

    .download-logo {
        width: 7.4rem;
        height: 7.4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7.4rem;
        border-radius: 2rem;
    }

    .download-logo .icon {
        height: 4.6rem;
    }

    .footer_slogan {
        margin-bottom: 7.3rem;
    }

    .footer_slogan .download-app {
        font-size: 3.2rem;
    }

    .footer_slogan .show {
        font-size: 1.4rem;
    }

    .footer_buttons {
        margin-bottom: 8.4rem;
    }
}

@media (min-width: 641px) {
    .header_logo, .footer_logo {
        width: 187px;
    }

    .header_logo .icon, .footer_logo .icon {
        height: 51px;
    }

    .button {
        font-size: 1.6rem;
        padding: 1.6rem 5rem 1.6rem 3.8rem;
        border-radius: 38px;
        min-width: 31.4rem;
        justify-content: center;
    }

    .button .icon {
        height: 4.8rem;
        margin-right: 2.4rem;
    }

    .icon.android-icon {
        margin-left: -1.9rem;
    }

    .section-number {
        font-size: 1.9rem;
        padding-bottom: .6rem;
    }

    .section-number:after {
        height: .5rem;
        border-radius: .5rem;
    }

    .section-title .caption {
        letter-spacing: 0.06em;
    }

    .athletes-picture {
        position: absolute;
    }

    .players-picture {
        position: absolute;
    }


    .be-active-title .title {
        margin-bottom: 2rem;
    }

    .be-active-number {
        font-size: 2.4rem;
        line-height: 2.2;
        letter-spacing: 0.05rem;
    }

    .be-active-number .number:after {
        height: 0.5rem;
        border-radius: 0.5rem;
    }

    .be-active-content {
        position: relative;
    }

    .footer_slogan .download-app {
        font-size: 8rem;
    }

    .download-logo {
        width: 13rem;
        height: 13.7rem;
        border-radius: 2rem;
    }

    .download-logo .icon {
        height: 8.4rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .headline {
        font-size: 6.4rem;
        max-width: 60rem;
        margin-bottom: 30rem;
        line-height: 1.1;
    }

    .play-college-sports {
        margin-top: 0.2rem;
        margin-left: 10.8rem;
    }

    .button_google:nth-child(even)  {
        margin-left: 3rem;
    }

    .button_google:nth-child(odd)  {
        margin-left: 3rem;
    }

    .header {
        padding-top: 4rem;
        padding-bottom: 8.9rem;
        background-image: url("https://pp.userapi.com/c850120/v850120144/caf15/D5NRYDCPkus.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header_logo {
        margin-bottom: 16.5rem;
    }

    .section-main-title {
        font-size: 9rem;
    }

    .section-heading {
        padding-top: 7rem;
        margin-bottom: 0.5rem;
    }

    .section {
        box-sizing: border-box;
        padding-top: 4rem;
        padding-bottom: 3.2rem;
        font-size: 1.6rem;
        line-height: 1.7;
    }

    .section-title {
        font-size: 3.2rem;
        padding-left: 4rem;
    }
    .section-title .title{
        margin-bottom: 2rem;

    }
    .section-number{
        padding-top: 6px;
    }

    .athletes-picture {
        width: 499px;
        height: 700px;
        right: 57%;
        top: 4rem;
    }

    .athletes .section .container,
    .athletes .section-heading .container {
        padding-left: 38%;
    }

    .players-picture {
        width: 436px;
        height: 699px;
        right: 0;
        top: 4rem;
    }

    .players .section .container,
    .players .section-heading .container {
        padding-right: 38%;
    }

    .be-active-title {
        font-size: 8rem;
    }

    .be-active-content {
        padding-top: 7.8rem;
        padding-bottom: 9.8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.2;
        font-size: 2.4rem;
    }

    .be-active-number {
        width: 11.6rem;
        height: 11.6rem;
    }

    .be-active-number {
        top: 0;
        margin-top: -16rem;
    }

    .footer {
        padding-top: 12.2rem;
        padding-bottom: 2rem;
    }

    .footer:before{
        background-image: url("https://pp.userapi.com/c850120/v850120786/cb736/zHW6bvo6pHQ.jpg");
    }

    .download-logo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7.3rem;
    }

    .footer_slogan {
        margin-bottom: 27.8rem;
    }

    .download-logo .icon {
        height: 8.4rem;
    }

    .footer_slogan .hint {
        font-size: 3.6rem;
    }

    .footer_buttons {
        margin-bottom: 4rem;
    }
}

@media (max-width: 960px) {
   .headline {
        display: inline-block;
    }

    .be-active-title {
        position: relative;
    }

    .footer_slogan {
        text-align: center;
    }
}


@media (min-width: 961px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 1560px;
    }

    .headline {
        font-size: 9rem;
        margin-bottom: 21.5rem;
        line-height: 1;
    }

    .play-college-sports {
        width: 100%;
        text-align: right;
    }

    .button_google:nth-child(even)  {
        margin-left: 5.5rem;
    }

    .button_google:nth-child(odd)  {
        margin-left: 5.5rem;
    }

    .header {
        padding-top: 4.5rem;
        padding-bottom: 10.5rem; 
        background-image: url("https://pp.userapi.com/c850120/v850120144/caf1f/EdAe7OMQZ-4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header_logo {
        margin-bottom: 29.9rem;
    }

    .info {
        overflow: hidden;
    }

    .section-heading {
        padding-top: 10rem;
    }

    .section-main-title {
        font-size: 8.5rem;
        margin-bottom: 2.5rem;
    }

    .section {
        padding-top: 5.1rem;
        padding-bottom: 5.5rem;
        font-size: 2rem;
        box-sizing: border-box;
        position: relative;
    }

    .section-title{
        font-size: 3.6rem;
    }
    .section-title .title{
        margin-bottom: 1.45rem;
    }
    .section-number{
        top: 1rem;
        padding-top: 10px;
    }

    .section-container {
        position: relative;
        z-index: 1;
    }

    .athletes-heading-container {
        position: relative;
    }

    .athletes-picture {
        width: 566px;
        height: 908px;
        top: -7rem;
        z-index: 1;
    }

    .players-heading-container {
        position: relative;
    }

    .players-picture {
        width: 991px;
        height: 815px;
        top: -7.5rem;
        z-index: 1;
    }

    .be-active-number {
        width: 16.8rem;
        height: 15.5rem;
    }

    .be-active {
        display: flex;
    }

    .be-active-picture {
        width: 50%;
    }

    .be-active-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10rem;
        padding-right: 12rem;
    }

    .be-active-number {
        left: -7.5rem;
        margin-top: -2.5rem;
    }

    .be-active-number .number {
        margin-top: -2.2rem;
    }

    .be-actives {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
    .be-active:nth-child(2n) .be-active-content{
        padding-left: 10rem;
        padding-right: 12rem;
    }
    .be-active:nth-child(2n) .be-active-picture {
        order: 1;
    }

    .be-active:nth-child(2n) .be-active-number {
        left: auto;
        right: -8rem;
    }

    .footer {
        padding-top: 22rem;
        padding-bottom: 4.6rem;
    }

    .footer:before{
        background-image: url("https://pp.userapi.com/c850120/v850120786/cb740/hYLCWUGvN-Q.jpg");
    }

    .download-app {
        display: flex;
        justify-content: center;
    }

    .download-logo{
        margin-right: 3rem;
    }

    .footer_slogan{
        margin-bottom: 15.3rem;
    }

    .footer_slogan .download-app {
        line-height: 1.1;
        margin-top: .6rem;
    }

    .footer_slogan .show {
        font-size: 3rem;
    }

    .footer_buttons {
        margin-bottom: 24.8rem;
    }
}

@media (min-width: 961px) and (max-width: 1920px) {
    .athletes-picture {
        right: 50%;
    }

    .athletes .section-container {
        padding-left: 50%;
    }

    .players-picture {
        left: 45%;
    }

    .players .section-container {
        padding-left: 10%;
        padding-right: 51%;
    }

    .be-active-title {
        font-size: 4rem
    }

    .be-active-title .title {
        margin-bottom: 5rem
    }

    .be-active-content {
        font-size: 1.6rem
    }
}


@media (min-width: 1921px) {
    .athletes-picture {
        right: 78rem;
    }

    .athletes .section-container {
        padding-left: 81rem;
    }

    .players-picture {
        left: 62.5rem;
    }

    .players .section-container {
        padding-left: 13rem;
        padding-right: 81rem;
    }
}


@media (min-width: 1920px) {
    .be-active-title {
        font-size: 7rem;
    }

    .be-active-title .title {
        margin-bottom: 10rem;
    }

    .be-active-content {
        font-size: 2.4rem;
    }
}
